DISCORD_BOT_ENABLED=true
DISCORD_BOT_TOKEN=

DISCORD_WELCOME_ENABLED=true
DISCORD_WELCOME_CHANNEL_ID=
DISCORD_WELCOME_MESSAGE=👋 Bem-vindo, {user.mention}, ao **{server.name}**!

DISCORD_LEAVE_ENABLED=true
DISCORD_LEAVE_CHANNEL_ID=
DISCORD_LEAVE_MESSAGE=📤 {user.mention} saiu de **{server.name}**.

LOG_LEVEL=info
